body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:1128px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:1128px;
}

.u1 {
    position:absolute;
    left:2px;
    top:556px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../是否退出_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:1090px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:646px;
    height:1096px;
}

.u3 {
    position:absolute;
    left:2px;
    top:537px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../是否退出_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:98px;
    top:438px;
    width:444px;
    height:230px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:450px;
    height:236px;
}

.u5 {
    position:absolute;
    left:2px;
    top:73px;
    width:440px;
    height:84px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../是否退出_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:98px;
    top:608px;
    width:216px;
    height:60px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:222px;
    height:66px;
}

.u7 {
    position:absolute;
    left:2px;
    top:14px;
    width:212px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../是否退出_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:314px;
    top:608px;
    width:228px;
    height:60px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:234px;
    height:66px;
}

.u9 {
    position:absolute;
    left:2px;
    top:14px;
    width:224px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

