<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>square_list</key>
	<array>
		<dict>
			<key>android</key>
			<string></string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150532_5078.png</string>
			<key>id</key>
			<string>28</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>审贴</string>
			<key>url</key>
			<string>mod://BDJ_To_Check</string>
		</dict>
		<dict>
			<key>android</key>
			<string>|6.2.3</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150601_1961.png</string>
			<key>id</key>
			<string>31</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>|3.8.01</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>每日排行</string>
			<key>url</key>
			<string>mod://BDJ_To_RecentHot</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.2.4|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/12/11/094131_3938.png</string>
			<key>id</key>
			<string>46</string>
			<key>ipad</key>
			<string>3.8|1.0</string>
			<key>iphone</key>
			<string>3.9|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>排行榜</string>
			<key>url</key>
			<string>mod://BDJ_To_RankingList</string>
		</dict>
		<dict>
			<key>android</key>
			<string>3.8.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150609_9589.png</string>
			<key>id</key>
			<string>48</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>我的收藏</string>
			<key>url</key>
			<string>mod://BDJ_To_Mine@dest=2</string>
		</dict>
		<dict>
			<key>android</key>
			<string>2.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/11/25/132435_4779.png</string>
			<key>id</key>
			<string>85</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>3.0|3.9</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>传奇世界</string>
			<key>url</key>
			<string>http://gc.hgame.com/home/game/appid/100052/gameid/100220/sr/2</string>
		</dict>
		<dict>
			<key>android</key>
			<string>5.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/23/182756_5328.png</string>
			<key>id</key>
			<string>55</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>3.3|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>随机穿越</string>
			<key>url</key>
			<string>mod://BDJ_To_Cate@cate=3#type=0</string>
		</dict>
		<dict>
			<key>android</key>
			<string></string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150649_5314.png</string>
			<key>id</key>
			<string>33</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>意见反馈</string>
			<key>url</key>
			<string>mod://App_To_FeedBack</string>
		</dict>
		<dict>
			<key>android</key>
			<string>|5.9</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150548_7833.png</string>
			<key>id</key>
			<string>34</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>|3.5</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>我的帖子</string>
			<key>url</key>
			<string>mod://BDJ_To_Mine@dest=1</string>
		</dict>
		<dict>
			<key>android</key>
			<string></string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/20/150641_4341.png</string>
			<key>id</key>
			<string>35</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>搜索</string>
			<key>url</key>
			<string>mod://App_To_SearchUser</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.2.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/12/11/144937_4271.png</string>
			<key>id</key>
			<string>108</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>10.0|</string>
			<key>market</key>
			<string>360zhushou</string>
			<key>name</key>
			<string>360手机助手</string>
			<key>url</key>
			<string>http://openbox.mobilem.360.cn/channel/getUrl?src=620333&amp;app=zs</string>
		</dict>
		<dict>
			<key>android</key>
			<string>6.2.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/12/14/095303_9815.png</string>
			<key>id</key>
			<string>109</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>10.0|</string>
			<key>market</key>
			<string>baidu</string>
			<key>name</key>
			<string>百度助手</string>
			<key>url</key>
			<string>http://shouji.baidu.com/soft/item?docid=8199654&amp;from=&amp;f=search_app_%E7%99%BE%E5%BA%A6%E6%89%8B%E6%9C%BA%E5%8A%A9%E6%89%8B%40listsp_1_title%401%40header_software_input</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/10/23/115744_3244.png</string>
			<key>id</key>
			<string>95</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>3.0|3.9</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>看小说</string>
			<key>url</key>
			<string>http://m.kingreader.com/Class/List1/bsapp.chtml?tgid=6988141</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/11/27/174618_4606.png</string>
			<key>id</key>
			<string>106</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>3.0|3.9</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>简理财</string>
			<key>url</key>
			<string>http://m.jianlc.com/static/extend/wapindex.html?source=baisibudejie_cps_01</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/12/15/114432_6030.png</string>
			<key>id</key>
			<string>110</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>3.0|3.9</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>同城服务</string>
			<key>url</key>
			<string>http://jump.luna.58.com/s?spm=s-35929915090446-ms-f-801&amp;ch=mjh_daohang</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/09/28/110558_5680.png</string>
			<key>id</key>
			<string>87</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>3.0|3.9</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>游戏大厅</string>
			<key>url</key>
			<string>http://m.jiejiegame.com/Client/web/Default.aspx?id=13&amp;utm_source=budejieapp&amp;utm_medium=guangchang&amp;utm_campaign=youxidating&amp;hadimg</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/12/02/173514_6975.png</string>
			<key>id</key>
			<string>107</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>3.0|3.9</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>美女直播</string>
			<key>url</key>
			<string>http://zhibo.mobo168.net/</string>
		</dict>
		<dict>
			<key>android</key>
			<string>5.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/11/27/111630_7770.jpg</string>
			<key>id</key>
			<string>98</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>3.0|3.9</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>败家姐</string>
			<key>url</key>
			<string>http://sale.mobo168.net/</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/09/28/110517_4491.png</string>
			<key>id</key>
			<string>88</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>3.0|3.9</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>我欲封天</string>
			<key>url</key>
			<string>http://gc.hgame.com/home/game/appid/100052/gameid/100142/sr/2</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/11/13/115802_3657.png</string>
			<key>id</key>
			<string>102</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string>3.0|3.9</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>大侠归来</string>
			<key>url</key>
			<string>http://gc.hgame.com/home/game/appid/100052/gameid/100183/sr/2</string>
		</dict>
		<dict>
			<key>android</key>
			<string>10.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/12/16/152554_8235.png</string>
			<key>id</key>
			<string>111</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>3.9.2|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>长文</string>
			<key>url</key>
			<string>http://10.10.1.74:9999/topic/_article/16421993/</string>
		</dict>
		<dict>
			<key>android</key>
			<string>5.9.9|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/07/30/172608_7159.png</string>
			<key>id</key>
			<string>83</string>
			<key>ipad</key>
			<string>100.0|</string>
			<key>iphone</key>
			<string>10.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>下载视频</string>
			<key>url</key>
			<string>mod://App_To_MyVideo</string>
		</dict>
		<dict>
			<key>android</key>
			<string>4.0|</string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2015/11/12/092358_4985.png</string>
			<key>id</key>
			<string>101</string>
			<key>ipad</key>
			<string>10.0|</string>
			<key>iphone</key>
			<string>5.0|</string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>长留修仙传</string>
			<key>url</key>
			<string>http://0.f.jiejiegame.cn/hqg/index.html?id=13&amp;utm_source=budejieapp&amp;utm_medium=youxibanner&amp;utm_campaign=changliu&amp;hadimg</string>
		</dict>
		<dict>
			<key>android</key>
			<string></string>
			<key>icon</key>
			<string>http://img.spriteapp.cn/ugc/2014/05/06/141211_3901.png</string>
			<key>id</key>
			<string>0</string>
			<key>ipad</key>
			<string></string>
			<key>iphone</key>
			<string></string>
			<key>market</key>
			<string></string>
			<key>name</key>
			<string>更多</string>
			<key>url</key>
			<string></string>
		</dict>
	</array>
	<key>tag_list</key>
	<array>
		<dict>
			<key>theme_id</key>
			<string>9433</string>
			<key>theme_name</key>
			<string>红酒秒杀</string>
		</dict>
		<dict>
			<key>theme_id</key>
			<string>473</string>
			<key>theme_name</key>
			<string>社会新闻</string>
		</dict>
	</array>
</dict>
</plist>
