body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:1128px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:1128px;
}

.u1 {
    position:absolute;
    left:2px;
    top:556px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2_container {
    position:absolute;
    left:60px;
    top:326px;
    width:138px;
    height:122px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:128px;
}

.u3 {
    position:absolute;
    left:2px;
    top:53px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:0px;
    top:126px;
    width:640px;
    height:190px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:646px;
    height:196px;
}

.u5 {
    position:absolute;
    left:2px;
    top:87px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:244px;
    top:510px;
    width:138px;
    height:122px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:128px;
}

.u7 {
    position:absolute;
    left:2px;
    top:53px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:422px;
    top:510px;
    width:138px;
    height:122px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:128px;
}

.u9 {
    position:absolute;
    left:2px;
    top:53px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:424px;
    top:332px;
    width:138px;
    height:122px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:128px;
}

.u11 {
    position:absolute;
    left:2px;
    top:53px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:68px;
    top:516px;
    width:138px;
    height:122px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:128px;
}

.u13 {
    position:absolute;
    left:2px;
    top:53px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:62px;
    top:692px;
    width:138px;
    height:122px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:128px;
}

.u15 {
    position:absolute;
    left:2px;
    top:53px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:246px;
    top:328px;
    width:138px;
    height:122px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:128px;
}

.u17 {
    position:absolute;
    left:2px;
    top:53px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../首页_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:246px;
    top:692px;
    width:138px;
    height:162px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:168px;
}

.u19 {
    position:absolute;
    left:2px;
    top:73px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

