<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict/>
	<key>appleId</key>
	<string>58999050@qq.com</string>
	<key>artistId</key>
	<integer>977924329</integer>
	<key>artistName</key>
	<string>Kui Zheng</string>
	<key>bundleDisplayName</key>
	<string>百思不得姐</string>
	<key>bundleShortVersionString</key>
	<string>3.8</string>
	<key>bundleVersion</key>
	<string>3.8.2</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143465-19,32 ab:sa37XRp1</string>
			<key>AppleID</key>
			<string>58999050@qq.com</string>
			<key>DSPersonID</key>
			<integer>8400033323</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>FirstName</key>
			<string>峥</string>
			<key>LastName</key>
			<string>袁</string>
			<key>PurchaserID</key>
			<integer>8400033323</integer>
			<key>UserName</key>
			<string>袁峥</string>
		</dict>
		<key>purchaseDate</key>
		<string>2015-10-29T02:03:08Z</string>
	</dict>
	<key>copyright</key>
	<string>© 精灵在线网络技术(北京)有限公司</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>娱乐</string>
	<key>genreId</key>
	<integer>6016</integer>
	<key>itemId</key>
	<integer>962673968</integer>
	<key>itemName</key>
	<string>百思不得姐—最大的视频语音图片段子分享社区</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Kui Zheng</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2015-10-29T02:03:08Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.GAMBLING_CONTESTS , 频繁/强烈的成人/性暗示题材 , 偶尔/轻微的惊悚/恐怖题材 , 频繁/强烈的亵渎或低俗幽默 , 偶尔/轻微的色情内容或裸露 , Advisory.NO.UNRESTRICTED_WEB_ACCESS and 偶尔/轻微的卡通或幻想暴力</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2015-02-11T14:20:33Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a840.phobos.apple.com/us/r30/Purple69/v4/cc/02/40/cc0240df-44c9-bfcb-0c01-3acede63ce50/icon114x114.jpeg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>4</integer>
		<integer>9</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.jingling.bssj</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>814630134</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>811675735</integer>
		<integer>812132561</integer>
		<integer>812531982</integer>
		<integer>812728834</integer>
		<integer>812855188</integer>
		<integer>813723563</integer>
		<integer>813829844</integer>
		<integer>813501620</integer>
		<integer>813580034</integer>
		<integer>814408486</integer>
		<integer>814444283</integer>
		<integer>814630134</integer>
	</array>
	<key>storeCohort</key>
	<string>3|date=1446084000000&amp;sf=143465</string>
	<key>userName</key>
	<string>袁峥</string>
	<key>vendorId</key>
	<integer>117730935</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
