<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>def_tags</key>
	<array>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2015/01/23/180558_65251.jpg</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>1133366</string>
			<key>theme_id</key>
			<string>55</string>
			<key>theme_name</key>
			<string>微视频</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2015/01/23/180724_43563.jpg</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>1084182</string>
			<key>theme_id</key>
			<string>58</string>
			<key>theme_name</key>
			<string>跳舞</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2015/01/23/180405_10331.jpg</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>859</string>
			<key>theme_id</key>
			<string>156</string>
			<key>theme_name</key>
			<string>牛人</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/08/193911_24529.png</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>1885887</string>
			<key>theme_id</key>
			<string>61</string>
			<key>theme_name</key>
			<string>恶搞</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/08/193407_32199.png</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>2083131</string>
			<key>theme_id</key>
			<string>56</string>
			<key>theme_name</key>
			<string>创意</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2015/05/04/144320_64913.png</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>0</string>
			<key>theme_id</key>
			<string>3614</string>
			<key>theme_name</key>
			<string>etetet</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/08/194116_77130.png</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>1210988</string>
			<key>theme_id</key>
			<string>63</string>
			<key>theme_name</key>
			<string>笑话</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/09/185652_68724.jpg</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>2997778</string>
			<key>theme_id</key>
			<string>1</string>
			<key>theme_name</key>
			<string>搞笑</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2015/01/26/144321_55354.jpg</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>1498764</string>
			<key>theme_id</key>
			<string>119</string>
			<key>theme_name</key>
			<string>电台</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/09/185915_98540.JPG</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>1547230</string>
			<key>theme_id</key>
			<string>60</string>
			<key>theme_name</key>
			<string>吐槽</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2015/01/27/141350_96705.png</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>1758561</string>
			<key>theme_id</key>
			<string>272</string>
			<key>theme_name</key>
			<string>小编推荐</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/08/194048_77130.png</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>1774776</string>
			<key>theme_id</key>
			<string>62</string>
			<key>theme_name</key>
			<string>内涵</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/08/193451_24529.png</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>868007</string>
			<key>theme_id</key>
			<string>57</string>
			<key>theme_name</key>
			<string>唱歌</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/08/194139_69654.png</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>1133362</string>
			<key>theme_id</key>
			<string>64</string>
			<key>theme_name</key>
			<string>糗事</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/08/193653_61741.png</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>777083</string>
			<key>theme_id</key>
			<string>59</string>
			<key>theme_name</key>
			<string>萌</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/08/192958_51231.png</string>
			<key>is_default</key>
			<integer>1</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>2691309</string>
			<key>theme_id</key>
			<string>28</string>
			<key>theme_name</key>
			<string>动态图</string>
		</dict>
	</array>
	<key>rec_tags</key>
	<array>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2015/04/23/160559_24190.jpg</string>
			<key>is_default</key>
			<integer>0</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>266304</string>
			<key>theme_id</key>
			<string>163</string>
			<key>theme_name</key>
			<string>生活百科</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/08/192523_53386.png</string>
			<key>is_default</key>
			<integer>0</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>141131</string>
			<key>theme_id</key>
			<string>148</string>
			<key>theme_name</key>
			<string>婚礼</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2015/02/03/162312_37784.jpg</string>
			<key>is_default</key>
			<integer>0</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>220267</string>
			<key>theme_id</key>
			<string>66</string>
			<key>theme_name</key>
			<string>旅行</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2014/12/08/192308_53737.png</string>
			<key>is_default</key>
			<integer>0</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>119424</string>
			<key>theme_id</key>
			<string>142</string>
			<key>theme_name</key>
			<string>插画</string>
		</dict>
		<dict>
			<key>image_list</key>
			<string>http://img.spriteapp.cn/ugc/2015/02/04/143108_57159.jpg</string>
			<key>is_default</key>
			<integer>0</integer>
			<key>is_sub</key>
			<integer>0</integer>
			<key>sub_number</key>
			<string>166419</string>
			<key>theme_id</key>
			<string>747</string>
			<key>theme_name</key>
			<string>健康养生</string>
		</dict>
	</array>
	<key>sub_tags</key>
	<array/>
</dict>
</plist>
