body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../优惠验证_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:1128px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:1128px;
}

.u1 {
    position:absolute;
    left:2px;
    top:556px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../优惠验证_1_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:136px;
    width:640px;
    height:169px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:169px;
}

.u3 {
    position:absolute;
    left:2px;
    top:76px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:0px;
    top:126px;
    width:640px;
    height:190px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:646px;
    height:196px;
}

.u5 {
    position:absolute;
    left:2px;
    top:87px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:44px;
    top:596px;
    width:551px;
    height:80px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:557px;
    height:86px;
}

.u7 {
    position:absolute;
    left:2px;
    top:32px;
    width:547px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:-12px;
    top:41px;
    width:92px;
    height:75px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:81px;
}

.u9 {
    position:absolute;
    left:2px;
    top:30px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../优惠验证_1_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:1304px;
    top:636px;
    width:149px;
    height:40px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:149px;
    height:40px;
}

.u11 {
    position:absolute;
    left:2px;
    top:12px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../优惠验证_1_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:214px;
    top:51px;
    width:212px;
    height:57px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:212px;
    height:57px;
}

.u13 {
    position:absolute;
    left:2px;
    top:20px;
    width:208px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

